* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #b8b8ff;
}

body {
  display: grid;
  place-items: center;
}

.app {
  padding: 24px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app h1 {
  font-weight: 700;
  color: #f8f7ff;
  font-size: 64px;
}

.menu,
.quiz,
.end-screen {
  margin-top: 24px;
  width: 600px;
  height: 600px;
  border-radius: 16px;
  background-color: #9381ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.3);
}

.menu button,
.quiz .next-btn {
  width: 300px;
  height: 50px;
  margin: 16px;
  border: none;
  border-radius: 16px;
  font-size: 24px;
  cursor: pointer;
  background-color: #f8f7ff;
  color: #9381ff;
  transition: all 0.3s;
  font-weight: 500;
}

.menu button:hover,
.quiz .next-btn:hover {
  background-color: #b8b8ff;
  color: #f8f7ff;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.options button {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  background-color: #f8f7ff;
  color: #9381ff;
  transition: all 0.3s;
  font-weight: 500;
  margin: 8px;
  border: none;
}

.options button:hover,
.options button:focus,
.options button:active {
  background-color: #b8b8ff;
  color: #f8f7ff;
}

.quiz h1 {
  padding: 48px;
  font-size: 36px;
}

.end-screen h1 {
  font-size: 48px;
  padding: 24px;
}

.end-screen p {
  color: #f8f7ff;
  font-weight: 700;
  padding: 24px;
  font-size: 24px;
}

.end-screen button {
  width: 70%;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  background-color: #f8f7ff;
  color: #9381ff;
  transition: all 0.3s;
  font-weight: 500;
  margin: 8px;
  border: none;
  font-size: 24px;
}

.end-screen button:hover {
  background-color: #b8b8ff;
  color: #f8f7ff;
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  .menu,
  .quiz,
  .end-screen {
    width: 400px;
    height: 400px;
  }

  .quiz h1 {
    font-size: 12px;
  }

  .quiz button {
    font-size: 12px;
  }
}
